#footer {
  margin-top: 200px;
  font-size: 10px;
}
body {
  font-family: sans-serif;
}
#validationField {
  margin-top: -250px;
  margin-left: 250px;
}
input.inp1 {
  margin-left: 30px;
}
input.inp2 {
  margin-left: 60px;
}
input.inp3 {
  margin-left: 41px;
}
label.error {
  margin-left: 85px;
  font-size: 15px;
  color: green;
}
