<!DOCTYPE html>
<html>

<head>
  <title>formdata</title>
</head>

<body>
  <p>Inserted Data:</p>
  <p>
    Name: <%= name %><br>
    Number: <%= number %><br>
    Email: <%= email %>
  </p>
  <a href="http://localhost:3000/form">Return</a>
</body>

</html>