<!DOCTYPE html>
<html>

<head>
  <title>jsondata</title>
  table,th,td {
      border-style: solid;
      border-width: 1px;
      border-collapse: collapse;
  }

  table {
      font-size: 18px;
  }
</head>

<body>
    <% if(worker){%>
        <h1><%= worker.name %>.<h1><h2> Email: <%= worker.email%></h2> <h3> His position<%=worker.position %><h3>
    <%}%> 

</body>

</html>